<!DOCTYPE HTML>
<html>
<head>
    <title>PLACEHOLDER TITLE | K Codes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body class="is-preload">

    <!-- Header -->
    <div id="header">
        <div class="top">
            <!-- Logo -->
            <div id="logo">
                <h1 id="title">Kieron Seven Lee</h1>
                <p>Year 2 Computer Science</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="../" id="top-link"><span class="icon solid fa-home">Home</span></a></li>
                    <li><a href="../#about" id="about-link"><span class="icon solid fa-user">About me</span></a></li>
                    <li><a href="../#projects" id="projects-link"><span class="icon solid fa-code">My projects</span></a></li>
                    <li><a href="../#blog" id="blog-link"><span class="icon solid fa-rss-square">Blog posts</span></a></li>
                </ul>
            </nav>
        </div>

        <div class="bottom">
            <!-- Social Icons -->
            <ul class="icons">
                <li><a href="https://github.com/Cikguseven" class="icon brands fa-github" target="_blank"><span class="label">Github</span></a></li>
                <li><a href="https://www.linkedin.com/in/kieron7lee" class="icon brands fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
                <li><a href="mailto:kieronsevenlee@gmail.com" class="icon solid fa-envelope" target="_blank"><span class="label">Email</span></a></li>
            </ul>
        </div>
    </div>

    <!-- Main -->
    <div id="main" class="post">

        <!-- Header -->
        <section>
            <div class="row">
                <div class="col-5 col-12-mobile">
                    <article class="postimage">
                        <img src="../images/chess.png" alt="" />
                    </article>
                </div>      
            
                <div class="col-6 col-12-mobile" id="postheader">
                    <h2>Header</h2>
                    <p>Description</p>
                    <p><a href="#" target="_blank">Link to repo</a></p>
                    <span class="icon solid fa-calendar-alt"> Date</span>
                    <span class="icon regular fa-clock"> xx min read</span>
                </div>
                
        </section>

        <!-- Article -->
        <section id="article" class="two">
            <div class="container" id="about">
                <h3>About me</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ipsum eu dolor efficitur efficitur. Etiam a varius neque. Aliquam at libero eu purus tempor rhoncus sed sed enim. Donec quis venenatis risus, ut interdum felis. Phasellus venenatis pellentesque urna. Ut malesuada lacus in metus eleifend pulvinar at eu nunc. Nulla iaculis porttitor arcu et consectetur. Praesent vitae urna at dolor tempus tempus quis id diam. Nunc luctus enim turpis, eu bibendum est lacinia euismod. Integer rhoncus, nulla id dignissim convallis, magna erat suscipit nulla, in tincidunt justo ante vel mauris. Ut eget scelerisque mi. Proin ac quam sed nunc posuere pulvinar. Praesent ipsum sem, accumsan eu finibus eu, tempus eu erat.</p>

                <div class="imgdiv">
                    <img src="../images/chess-start.png" width="400vw" height="400vh" >
                    <p class="imgdescription">Starting position of a chess game</p>
                </div>


                <p>Phasellus iaculis lectus urna. Quisque interdum tincidunt velit, at hendrerit lacus sagittis ac. Fusce egestas magna nec dui hendrerit, posuere viverra nisi laoreet. Nunc nec rutrum eros. Duis porta dapibus metus. Quisque ornare nibh eget libero posuere pulvinar. Maecenas et nibh dolor. Curabitur varius, massa pharetra vulputate ultricies, urna risus pharetra ex, et lobortis libero augue sit amet ante. Curabitur eget lectus ipsum. Fusce convallis nisi ac nisi ullamcorper, vitae lacinia magna dignissim. Praesent condimentum consequat eleifend.</p>

                <div class="img2div">
                    <img src="../images/pygame.png" width="400vw" height="400vh" >
                    <p class="imgdescription">Screen grab of game</p>
                </div>

                <div class="img2div">
                    <img src="../images/pygame2.png" width="400vw" height="400vh" >
                    <p class="imgdescription">Bishop on a5 selected and possible moves are shown</p>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <div id="footer">

        <!-- Last Updated -->
        <p id="updated"></p>

    </div>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/lastupdated.js"></script>

</body>
</html>